@media print {
    header {
        padding: 0 !important;
    }
    
    main {
        display: none;
    }
}

* {
    box-sizing: border-box;
    position: relative;
}

html, body {
    min-height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    padding-bottom: 40px;
}

header {
    padding: 40px;
    text-align: center;
}

header h1 {
    font-family: 'Helvetica Neue';
    font-weight: 200;
    font-size: 48px;
    color: lightblue;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
}

header h1 span {
    font-size: 16px;
    vertical-align: text-top;
}

main {
    margin: 20px 0;
    padding: 0 20px;
}

main > div {
    display: inline-block;
    width: 25%;
}

main > div > a {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: lightgray;
    -webkit-transition: box-shadow .5s ease-in;
}

main > div > a.selected {
    background-color: lightblue;
    box-shadow: 0px 0px 10px 0px black;
    z-index: 1;
    
    animation: bubble .2s;
}

@keyframes bubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

a:hover + .tooltip {
    opacity: 1;
    transform: translateY(0%) translateX(-50%);
}

.tooltip::before {
    position: absolute;
    margin: -20px auto 0;
    left: 0;
    right: 0;
    
    content: "";
    height: 0px;
    width: 0px;
    
    border-bottom: 20px solid white;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.tooltip {
    z-index: 1;
    position: absolute;

    margin-left: 50%;
    transform: translateX(-50%) translateY(100%);
    
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.6);
    opacity: 0;
    
    transition: opacity .5s ease, transform .5s ease;
}

main > div:not(:first-child) {
    margin-left: -4px;
    border-left: 1px solid #FFF;
}

main > div:first-child a {
    border-radius: 5px 0 0 5px;
}

main > div:last-child a {
    border-radius: 0 5px 5px 0;
}

a:not([href]) {
    cursor: pointer;
}

article > #circle {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-color: indianred;
    border-radius: 50%;
}

article > #triangle {
    margin: 20px auto;
    height: 0px;
    width: 0px;
    
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    
    border-left: 100px solid white;
}

article#flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article#flex > div {
    background-color: darkorange;
    padding: 20px;
    flex-grow: 1;
    margin: 5px;
    align-self: flex-start;
}

article#flex > div:first-child {
    flex-grow: 2;
}

article#flex > div:nth-child(2) {
    flex-grow: 2;
}

footer {
    text-align: center;
    background-color: white;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}